CDCS.Transform/Files/XML/cdcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="updateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="organisationList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="organisation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="FICHE" type="xs:unsignedByte" />
                    <xs:element name="INFOR" type="xs:string" />
                    <xs:element name="NMOFFNL" type="xs:string" />
                    <xs:element name="NMOFFFR" type="xs:string" />
                    <xs:element name="NMUSENL" />
                    <xs:element name="NMUSEFR" />
                    <xs:element name="NMSERVNL" />
                    <xs:element name="NMSERVFR" />
                    <xs:element name="TEL_NL" type="xs:string" />
                    <xs:element name="TEL" type="xs:string" />
                    <xs:element name="FAX" type="xs:string" />
                    <xs:element name="EMAIL_NL" type="xs:string" />
                    <xs:element name="EMAIL" type="xs:string" />
                    <xs:element name="HTTP_NL" type="xs:string" />
                    <xs:element name="HTTP" type="xs:string" />
                    <xs:element name="HTTPNL2" />
                    <xs:element name="HTTP2" />
                    <xs:element name="URLNL" />
                    <xs:element name="URLFR" />
                    <xs:element name="ACTIVNL" type="xs:string" />
                    <xs:element name="ACTIVFR" type="xs:string" />
                    <xs:element name="PUBLIEK" type="xs:string" />
                    <xs:element name="BENEF" type="xs:string" />
                    <xs:element name="PERMANNL" type="xs:string" />
                    <xs:element name="PERMANFR" type="xs:string" />
                    <xs:element name="TIJDSCHR" />
                    <xs:element name="REVUE" />
                    <xs:element name="OPMERK" type="xs:string" />
                    <xs:element name="REMARQUE" type="xs:string" />
                    <xs:element name="PM_RP" type="xs:string" />
                    <xs:element name="DOEL" type="xs:string" />
                    <xs:element name="BUT" type="xs:string" />
                    <xs:element name="PUBLIBS" type="xs:string" />
                    <xs:element name="PUBLIMB" type="xs:string" />
                    <xs:element name="BRUSOFR" type="xs:string" />
                    <xs:element name="BRUSONL" type="xs:string" />
                    <xs:element name="ERKAND" />
                    <xs:element name="AGRAUTR" />
                    <xs:element name="OLDNAMNL" type="xs:string" />
                    <xs:element name="OLDNAMFR" type="xs:string" />
                    <xs:element name="CREE" />
                    <xs:element name="DEEL" />
                    <xs:element name="ANTENNE" />
                    <xs:element name="MOTHER" />
                    <xs:element name="FAX_NL" type="xs:string" />
                    <xs:element name="INT_SOC" />
                    <xs:element name="addresseAdres">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ADRESNL" type="xs:string" />
                          <xs:element name="ADRESFR" type="xs:string" />
                          <xs:element name="ADNUM" type="xs:unsignedByte" />
                          <xs:element name="BNUM" type="xs:string" />
                          <xs:element name="POSTNL" type="xs:string" />
                          <xs:element name="POSTFR" type="xs:string" />
                          <xs:element name="ZIP" type="xs:unsignedShort" />
                          <xs:element name="GEMEENTE" type="xs:string" />
                          <xs:element name="COMMUNE" type="xs:string" />
                          <xs:element name="ADOPM" />
                          <xs:element name="ADREM" />
                          <xs:element name="WIJK" type="xs:string" />
                          <xs:element name="QUARTIER" type="xs:string" />
                          <xs:element name="STATCODE" type="xs:string" />
                          <xs:element name="STATNMNL" type="xs:string" />
                          <xs:element name="STATNMFR" type="xs:string" />
                          <xs:element name="XCOORD" type="xs:decimal" />
                          <xs:element name="YCOORD" type="xs:decimal" />
                          <xs:element name="WGS84LAT" type="xs:decimal" />
                          <xs:element name="WGS84LON" type="xs:decimal" />
                          <xs:element name="WQ_CODE" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="statutstatuut" type="xs:unsignedShort" />
                    <xs:element name="LANGSTAT" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="ACCES" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="AANMELD" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="offrLingTaalAnb" type="xs:unsignedShort" />
                    <xs:element maxOccurs="unbounded" name="natOffreHulpwijz" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="agrementErken" type="xs:unsignedShort" />
                    <xs:element name="zoneActionWerkgebied" type="xs:unsignedShort" />
                    <xs:element maxOccurs="unbounded" name="CATEG" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LangStatList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="LangStat">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="natOffreHulpwijzList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="natOffreHulpwijz">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="offrLingTaalList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="offrLingTaal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StatutStatuutList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="StatutStatuut">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zoneActionWerkgebiedList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="zoneActionWerkgebied">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="parent" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pouvoirAgreantErkenningList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="pouvoirAgreantErkenning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="agrementErkenList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="agrementErken">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="fr" type="xs:string" />
                    <xs:element name="nl" type="xs:string" />
                    <xs:element name="pouvoirAgreantErkenning" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaLocation" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>